/* vue.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}
.label total-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}

.label total-box {
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
}
.penjualan {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#app {
    width: 1000px; /* Set width */
    height: 490px; /* Set height equal to width */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: auto; /* Add overflow:auto to handle content overflow */
}

h1, h2 {
    color: #333;
}

.awal, .input, table, .total-section {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input {
    display: flex; /* Use flexbox */
    align-items: center;
    margin-bottom: 10px;
    margin-left: 15px;

}

.input label {
    margin-right: 10px;
    flex: 1; /* Equal width for all labels */
}

.input-group input[type="text"],
.input-group input[type="number"],
.input-group input[type="date"] {
    flex: 2; /* Input fields take more space */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button, button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.button:hover, button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.total-section {
    background-color: #fff;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.total-section h2 {
    margin: 0 0 10px 0;
}
